{% extends 'photo/base.html' %}
{% block content %}




  <div class="row">
    {% for p in posts %}
    <div class="col-md-6">
          <div class="img-thumbnail">
            <a href="{{ p.get_absolute_url }}">{{ p.title }}</a><small style="float:right">{{ p.created }}</small><br>
          Author: {{ p.author }}<br>
          <div class="col-md-3">
              <img src="{{ p.picture.url }}" alt="" width="380" height="250">
          </div>
          {{ p.body }}
          </div>


      </div>
{#    {% empty %}#}
{#    <div class="noproject-wrapper center">#}
{#      <h3 class="grey-text">Sorry, you don't have any posts, yet.</h3>#}
{#      <a href="{% url 'add' %}" class="btn-large grey">#}
{#        <i class="material-icons white-text left">add_circle</i>#}
{#        <span class="bold">Add Post</span>#}
{#      </a>#}
{#    </div>#}
    {% endfor %}
  </div>



{% endblock %}
